<h1 [style.color]="titleColor">{{ title | uppercase }}</h1>

<div>
    <label for="title">Título: </label>
    <input id="title" [(ngModel)]="title" placeholder="Escribe un título">
</div>














<ul *ngIf="visible" [class]="listClass">
    <li
        *ngFor="let item of myList; let i = index"
        [class.odd]="i % 2 === 0">
        <a href="">{{ item | lowercase }}</a>
    </li>
</ul>
<!-- <img [src]="myImage" alt=""> -->

<button (click)="enableBtn()">Activar ({{disabledBtn}})</button>
<button (click)="showList()" [disabled]="disabledBtn > 0">{{ textBtn | uppercase }}</button>

